* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(14, 14, 14);
}

/* Header Top Section */

.header-top-bg {
    width: 100%;
    height: 965.5px;
    background: url("../Image/header-top-bg.png");
    z-index: 0;
}

/* Navigation Section */

.navigation {
    display: flex;
    justify-content: space-around;
    z-index: 1;
    margin-top: -915px;
    color: white;
    align-items: center;
}

.af-brand a {
    color: white;
    text-decoration: none;
    transition: all 0.4s ease-in;
}

.af-brand a:hover {
    color: rgb(59, 59, 59);
}

.nav-list {
    display: flex;
    width: 30%;
}

.nav-items {
    width: 70%;
    transition: all 0.3s ease-in;
    text-decoration: none;
    color: white;
}

.nav-items:hover {
    color: darkgray !important;
}

.nav-item {
    list-style-type: none;
    align-self: center;
}

#nav-number {
    font-size: 12px;
    color: darkgray;
}

.nav-link {
    color: white;
    text-decoration: none;
    transition: all 0.4s ease-in;
}

.nav-link-contact {
    border: 2px solid white;
    border-radius: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
    padding-right: 25px;
    transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    text-decoration: none;
    color: white;
}

.nav-link-contact:hover{
    background-color: white;
    color: black;
}

.burger-menu {
    display: none;
}

/* Main Section 1 */
.main-section-1 {
    margin-top: 230px;
    color: white;
}

.main-section-1 h1 {
    font-size: 96px;
}

/* Typing Effect Animation */

.typed-text {
    color: rgb(202, 50, 50)
}

.typing-cursor {
    display: inline-block;
    width: 3px;
    background-color: white;
    margin-left: 0.1rem;
    animation: blink 1s infinite;
}

.typing-cursor .typing {
    animation: none;
}

@keyframes blink {
    0% {
        background-color: white;
    }

    49% {
        background-color: white;
    }

    50% {
        background-color: transparent;
    }

    99% {
        background-color: transparent;
    }

    100% {
        background-color: white;
    }
}

.viewportfolio-btn {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease-in;
    font-size: 24px;
}


#arrow-right:hover {
    padding-left: 15px;
}

/* Main Section 2 */
.main-section-2 {
    margin-top: 400px;
}

.main-section-2 h1 {
    margin-bottom: 20px;
}